<div class="grid">    
  <ng-container *ngFor="let image of gridImages; index as index">
    <div *ngIf="image.align === 'landscape'" class="span-1" [@enter]>
      <div class="overlay">      
        <ng-container [ngTemplateOutlet]="overlayIcons" [ngTemplateOutletContext]="{index: index, image: image}"></ng-container>
      </div>
      <img src="{{ image.url }}" class="landscape">
    </div>
    <div *ngIf="image.align === 'portrait' && stateGridSpan === true; else spanFalse" class="span-2" [@enter]>
      <div class="overlay">             
        <ng-container [ngTemplateOutlet]="overlayIcons" [ngTemplateOutletContext]="{index: index, image: image}"></ng-container>
      </div>
      <img src="{{ image.url }}" class="portrait">     
    </div>    
    <ng-template #spanFalse>
      <div *ngIf="image.align === 'portrait'" class="span-1" [@enter]>
        <div class="overlay">     
          <ng-container [ngTemplateOutlet]="overlayIcons" [ngTemplateOutletContext]="{index: index, image: image}"></ng-container>
        </div>
        <img src="{{ image.url }}" class="landscape">
      </div>
    </ng-template>    
  </ng-container>
</div>

<ng-template #overlayIcons let-index="index" let-image="image">
  <div class="icon left"><mat-icon (click)="changeModalContent(index, image)">search</mat-icon></div>
  <div class="icon left"><mat-icon>favorite</mat-icon></div> 
  <div class="icon left"><mat-icon>share</mat-icon></div>
</ng-template>

<div *ngIf="imageModal" class="modal" [@ease]>
  <div class="content">
    <div class="nav">
      <div class="icon left"><a target="_blank" href="{{ imageUrl }}"><mat-icon>search</mat-icon></a></div>
      <div class="icon left"><mat-icon>favorite</mat-icon></div> 
      <div class="icon left"><mat-icon>share</mat-icon></div>
      <div class="icon right"><mat-icon (click)="toggleModal()">close</mat-icon></div>
    </div>
    <div class="container">
      <div class="overlay">
        <div *ngIf="imageIndex > 0" class="icon left"><mat-icon (click)="changeModalContent(imageIndex - 1, gridImages[imageIndex - 1])">navigate_before</mat-icon></div>
        <div *ngIf="imageIndex < gridImages.length - 1" class="icon right"><mat-icon (click)="changeModalContent(imageIndex + 1, gridImages[imageIndex + 1])">navigate_next</mat-icon></div>
      </div>
      <div class="overlayTags">
        <ng-container *ngFor="let tag of imageTags">
          <div class="tag left" (click)="filterImages(tag)">#{{ tag }}&nbsp;</div>
        </ng-container>
      </div>
      <img src="{{ imageUrl }}" class="{{ imageAlign }}" [@ease]>
    </div>  
  </div>  
</div>

<div *ngIf="filter" class="filter" [@ease]>
  <div class="text left">{{ filter }}</div>
  <div class="icon right"><mat-icon (click)="removeFilter()">close</mat-icon></div>
</div>
