<div class="nav" [@navHeight]="stateNavigation"> 
    <div *ngIf="this.deviceWidth > 960" class="nav-xl">
        <div class="height left">
            <div class="favicon flex">
                <a routerLink="gallery"><mat-icon>monochrome_photos</mat-icon></a>
                <div class="title left">{{ title }}</div>
            </div>            
        </div>
        <div class="height right">    
            <div class="flex">    
                <input type="text" placeholder="Search" *ngIf="this.search" [@enter] class="search">
                <mat-icon (click)="toggleSearch()" *ngIf="!this.search">search</mat-icon>
                <mat-icon (click)="toggleSearch()" *ngIf="this.search">close</mat-icon>
                <div class="link"><a routerLink="about">ABOUT</a></div>
                <div class="link"><a routerLink="imprint">IMPRINT</a></div>
            </div>            
        </div> 
    </div>
    <div *ngIf="this.deviceWidth < 961" class="left nav-sm">
        <div class="height left" *ngIf="!this.search" [@enter]>
            <div class="favicon flex">
                <a routerLink="gallery"><mat-icon>monochrome_photos</mat-icon></a>
                <span class="title">{{ title }}</span>
            </div>            
        </div>
        <div class="height right"  *ngIf="!this.search" [@enter]>
            <div class="flex">
                <mat-icon (click)="toggleSearch()">search</mat-icon>
                <mat-icon (click)="toggleMenu()">menu</mat-icon>
            </div>        
        </div> 
        <div class="search" *ngIf="this.search" [@enter]>
            <div class="flex">
                <input type="text" placeholder="Search">
                <div class="right">
                    <mat-icon  (click)="toggleSearch()">close</mat-icon>
                </div>           
            </div>             
        </div>
        <div class="menu" *ngIf="this.menu" [@enter]>
            <div class="menu-top right">
                <mat-icon (click)="toggleMenu()" class="right">menu</mat-icon>
            </div>            
            <div class="menu-content">
                <a routerLink="gallery" (click)="toggleMenu()">GALLERY</a><br><br>
                <a routerLink="about" (click)="toggleMenu()">ABOUT</a><br><br>
                <a routerLink="imprint" (click)="toggleMenu()">IMPRINT</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
